# исключаем кэш
__pycache__
.vscode

# исключаем виртуальное окружение python
venv

# исключаем базы данных
app.db
client.db

# исключаем расширения
*.pyc
*.zip

# исключаем файлы и папки для сборки *.exe
*.spec
dist
build
